<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392680060809-ie4bm6e03bkn7o3rssbl699as44p40p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392680060809-ie4bm6e03bkn7o3rssbl699as44p40p1</string>
	<key>API_KEY</key>
	<string>AIzaSyCYoQpgQsmgYMRSO4Duz47ZG1tiDVxjrDI</string>
	<key>GCM_SENDER_ID</key>
	<string>392680060809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.infoKino.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ri-and-go-1985b</string>
	<key>STORAGE_BUCKET</key>
	<string>ri-and-go-1985b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392680060809:ios:0c64e67dd2fdf60e999358</string>
</dict>
</plist>